.courtDetails-container{
height: calc(100vh - 43px);
}

.courtDetails-container .image-box{
    position: relative;
    height: 100%;
}

.courtDetails-container img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.detail-image-content{
    position: absolute;
    height: 15rem;
    background-color: linear-gradient(0deg, rgba(0,0,0,0.7)15%, rgba(0,0,0,.01)92%); 
    width: 100%;
    inset: auto auto 0rem auto;
    z-index: 2;
}

.detail-image-content .boxbtn{
    background: transparent;
    border-radius: 5px;
    border:1px solid white;
    color:white;
   padding: .3rem .1rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.detail-image-content .boxbtn:hover{
    transform: scale(1.1);
    border-color:var(--brand-yellow)
}

.detail-image-content .boxbtn:active{
    transform:scale(.99);
    background-color: var(--brand-teal);
}

/* modal */

.court-headings h1{
    font-family:'Times New Roman', Times, serif;
}

.court-headings h4{
    font-family:'Courier New', Courier, monospace;
}

.quill{
    padding: 50px;
    margin: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.availableslots{
    border: 1px solid var(--brand-teal);
    border-radius: 5px ;
    color: var(--brand-black-2);
    background-color: rgb(129, 202, 129, .7);
    cursor: pointer;
}

.notavailable{
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px ;
    color: rgb(184, 184, 184);
    background-color: rgb(184, 184, 184, .2);
    cursor: not-allowed;
}

