.court-container {
  margin: 30px;
  padding: 20px;
  text-transform: capitalize;
  overflow: hidden;
  /* position :relative; */
}

.court-container:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.1);
}

.court-img {
  height: 200px;
  cursor: pointer;
}

.court-container .card-body{
  /* position: absolute; */
  cursor: pointer;
  /* inset: auto auto 30px 30px; */
  transition: opacity 0.3s ease-out;
  
}

.court-container .card-body .court-name{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.court-container .card-body .court-location{
font-family:'Courier New', Courier, monospace;
}

.court-container .card-body .court-para{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
